<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.govin.mp.user.mapper.UserMapper">
    <select id="selectCardAndUser" resultType="com.govin.mp.user.dto.UserCardDto">
    select u.name userName,u.email,u.age,c.id cardNum  from user u ,card c where u.name = c.user_name
</select>
</mapper>
